main {
	margin: 2rem 35rem;
}

.main__title {
	font-weight: 500;
	font-size: 2rem;
}

.create-user-form {
	margin-top: 3rem;
	gap: 1.5rem;
	display: flex;
	flex-direction: column;
}

.create-user-form__item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.create-user-form__submit-btn {
	background-color: var(--secondary-color);
	color: var(--secondary-text-color);
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 1rem;
}

.create-user-form__submit-btn:hover {
	background-color: var(--secondary-color-hover);
}

.main__login-text {
	margin: 2rem 0;
	color: var(--tertiary-text-color);
	text-align: center;
}

.main__login-btn {
	border: var(--tertiary-placeholder-color) 0.1rem solid;
	color: var(--secondary-color);
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 1rem;
	width: calc(100% - 4rem);
}

.main__login-btn:hover {
	background-color: var(--secondary-color-hover);
	color: var(--secondary-text-color);
}
